
fieldset{
    min-width: 0; 
    padding: 10px 15px 10px 5px;
    margin: 1px;
    border: 1px solid #ddd;
    position: relative;
    margin-top: 10px;
}
.data-main-val {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.data-val {
    width: 76%;
    display: flex;
    justify-content: space-between;
}
span.span-val {
    width: 32%;
    word-wrap: break-word;
    text-align: left;
}
.data-btn-val {
    width: 26%;
    justify-content: space-between;
    display: flex;
}
.btn-val {
    width: 28%;
    height: 40px;
}
.btn-done {
    width: 48%;
    height: 40px;
}